.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.eslintrc.js
**/tsconfig.json
**/*.map
**/*.ts
**/*.tsx
node_modules/**
.editorconfig
.prettierrc*
.eslintignore
.npmrc
.npmignore
.github/**
.git/**
**/*.vsix
.pnpm-store/**
pnpm-lock.yaml
pnpm-workspace.yaml

# Keep
!src/**/*.d.ts
